{
    "parserOptions": {
        "ecmaVersion": 6,
        "sourceType": "module",
        "ecmaFeatures": {
            "jsx": true
        }
    },
    "rules": {
        "semi": "warn",
        "quotes": [
            "off",
            "backtick"
        ],
        "eqeqeq": "error",
        "no-trailing-spaces": "off"
    }
}